<div style="width: 50%; float:left">
  <div class="about">
    <div class="centeredbrosx">
    {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{ . | absURL }}" alt="avatar"></div>
    {{ end }}
    <!-- <h1 style="text-align:center"><u>{{ .Site.Params.author }}</u></h1>-->
    <h1 style="text-align:center">Enrico</h1>
    <h1 style="text-align:center">Mattia Salonia</h1>
    <h6 style="text-align:center">{{ .Site.Params.info }}</h6>
  </div>
  </div>
</div>


<div style="width: 50%; float:right">
  <div class="about">
   <div class="centeredbrodx">
    <h5>Welcome</h5>
    <p>I am a PhD student at <a href="https://www.tse-fr.eu/?lang=en" target="_blank">TSE</a>.</p>
    <p>My main interests are in economic theory and behavioral economics.</p>
    <p>Feel free to check my <a href="http://localhost:1313/statement/">Research Statement</a> if you are interested.</p>
    <p>A copy of my CV is <a href="http://localhost:1313/statement/">here</a>.</p>
    {{ with .Site.Params.social }}
      {{ range sort . "weight"}}
          <a class="logo" href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>
            {{ if .icon }}
              <i class="{{ .icon }}" aria-hidden="true"></i>
            {{ else }}
              {{ .name }}
            {{ end }}
          </a>
      {{ end }}
    {{ end }}
    </div>
  </div>
</div>
