
<section class="container centered">
  <div class="about">
      <!-- {{ with .Site.Params.avatarurl }}
      <div class="avatar">
        <figure>
        <img
          style="border-radius: 20px / 5px"
          src="kangaroo_big.webp"
          padding: 500px
          alt="avatar"
        />
        <figcaption>Ciao</figcaption>
        </figure>
      </div>
      {{ end }}
      <!-- <h1 style="text-align:center"><u>{{ .Site.Params.author }}</u></h1>-->
      <br>
      <figure>
      <img 
      class="img-fluid"
      style="border-radius: 10px / 5px"
      src="kangaroo.webp" 
      alt="Profile"
      width= 35%
      height= 35%
      >
      <figcaption>A kangaroo escaping from me talking about game theory ciaos</figcaption>
    </figure>
      <h6 style="text-align: center">{{ .Site.Params.info }}</h6>
      <p>I am a behavioral economist with interest in theory and experiments.</p>
      <p>
        I am a fourth year PhD student in Economics at
        <a href="https://www.tse-fr.eu/?lang=en" target="_blank">Toulouse School of Economics</a>.
      </p>
      <p>I was also a 2023 Fellow at the <a href="https://globalprioritiesinstitute.org/" target="_blank">Global Priorities Institute</a>.</p>
    <!--  <p>
        Feel free to check my <a href="./statement/">Research Statement</a> if
        you are interested.
      </p>  -->
     <!-- <p>
        A copy of my CV is
        <a
          href="https://drive.google.com/file/d/16vEUj2dO5tyEzVxj-XBWeLct9q5iuXV2/view?usp=sharing"
          >here</a
        >.
      </p> -->
      <p>
        Feel free to contact me at <b>mattia.salonia@tse-fr</b> or
        <b>mattia.salonia1@gmail.com</b>.
      </p>
    <!--  {{ with .Site.Params.social }} {{ range sort . "weight"}}
      <a
        class="logo"
        href="{{ .url }}"
        aria-label="{{ .name }}"
        {{
        if
        .rel
        }}rel="{{ .rel }}"
        {{
        end
        }}
      >
        {{ if .icon }}
        <i class="{{ .icon }}" aria-hidden="true"></i>
        {{ else }} {{ .name }} {{ end }}
      </a>
      {{ end }} {{ end }} -->
    </div>
  </div>
</section>