<section class="container list">
  <section class="standardpage">
  <h1 class="title">
    <a class="title-link" href="{{ .Permalink | safeURL }}">
      {{- if eq .Kind "term" -}}
        {{- i18n .Data.Singular | title -}}
        {{- print ": " -}}
      {{- end -}}

      {{- i18n (lower .Title) | default .Title | title -}}
    </a>
  </h1>
  {{ .Content }}
  {{ template "_internal/disqus.html" . }}
  <ul>
    {{ range .Paginator.Pages }}
    <li>
      <span class="dates">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
      <a class="posts" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a><span class="filter" style="font-size:14px; font-style:italic"> <a href="http://localhost:1313/tags/">#{{ .Params.tags}}</a></span>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
</section>
