<small><u>
    <p><em onclick="myFunction2()" id="abstract2" style="cursor: pointer">→ Abstract</em>
  </u></p></small>

<small>
  <div id="myDIV2" style="display: none; text-align: justify; text-justify: inter-word">
    <p>We develop and test a theory of how beliefs about other people's responsiveness to incentives shape preferences
      for redistribution. In a linear income taxation model where agents have heterogeneous prosocial preferences, more
      altruistic agents distort their labour supply to a lesser extent when the tax rate is higher. If agents have
      imperfect information on (the distribution of) preferences in the society, overly pessimistic beliefs imply a
      relatively low Condorcet-winner tax, even though most agents are poor and/or altruist. We develop an experimental
      design to test this prediction.</p>
  </div>
</small>

<script type="text/javascript">
  function myFunction2() {
    var x = document.getElementById("myDIV2");
    var y = document.getElementById("abstract2");
    if (x.style.display === "none") {
      y.innerHTML = "↓ Abstract";
      x.style.display = "block";
    } else {
      y.innerHTML = "→ Abstract";
      x.style.display = "none";
    }
  }
</script>