<em onclick="myFunction()">Abstract</em>

<div id="myDIV">According to revealed preference theory, the choice of a decision maker "reveals" his tastes over possible outcomes. However, if an act is prescribed by a moral principle for reasons unrelated to the consequences it induces, the inference drawn regarding preferences is misleading. In this paper, I study the behaviour of deontological decision makers who follow the moral principle of universalisation. I develop a decision theory according to which agents value the impact of their choice in determining a counterfactual outcome they envision. Hence, an action can be interpreted as revealing a preference for counterfactual outcomes. I show that I can specify my framework to obtain the most prominent models of universalisation, compare them and highlight their limitations. I propose a unifying model of universalisation based on my decision theoretic framework that arguably overcomes these limitations.</div>

<script type="text/javascript">
  function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
