<small>
  <p><em onclick="myFunction5()" id="abstract5" style="cursor: pointer"
      >→ Abstract</em
    ></p></small
>

<small
  ><div
    id="myDIV5"
    style="display: none; text-align: justify; text-justify: inter-word"
  >
<p>We show that formalising Chang's chaining argument against the Trichotomy Thesis demonstrates that the intuitive pull of the argument relies on exploiting the features of a notion of closeness that is, however, a trichotomous relation itself. As such, the premises of the argument are inconsistent with each other, and the argument is unsound. Our results illuminate that the chaining argument does not provide insights into axiology.</p>
  </div></small
>

<script type="text/javascript">
  function myFunction5() {
    var x = document.getElementById("myDIV5");
    var y = document.getElementById("abstract5");
    if (x.style.display === "none") {
      y.innerHTML = "↓ Abstract";
      x.style.display = "block";
    } else {
      y.innerHTML = "→ Abstract";
      x.style.display = "none";
    }
  }
</script>
