<small>
    <p><em onclick="myFunction_bel()" id="abstract_bel" style="cursor: pointer">→ Abstract</em>
  </p></small>

<small>
  <div id="myDIV_bel" style="display: none; text-align: justify; text-justify: inter-word">
    <p>I develop a theory of motivated belief updating. An individual who exhibits preferences for her beliefs faces a dynamic decision problem. Ex-ante behavior reveals that she anticipates she will distort her beliefs to satisfy her belief-dependent preferences. I provide assumptions that allow identifying preferences, prior beliefs, and departures from Bayesian updating. The theory rationalises excessive trading, the ostrich effect, and moral wiggle room.
    </p>
  </div>
</small>

<script type="text/javascript">
  function myFunction_bel() {
    var x = document.getElementById("myDIV_bel");
    var y = document.getElementById("abstract_bel");
    if (x.style.display === "none") {
      y.innerHTML = "↓ Abstract";
      x.style.display = "block";
    } else {
      y.innerHTML = "→ Abstract";
      x.style.display = "none";
    }
  }
</script>