<small
  ><u
    ><em onclick="myFunction2()" id="abstract2" style="cursor: pointer"
      >→ Abstract</em
    ></u
  ></small
>

<small
  ><div
    id="myDIV2"
    style="display: none; text-align: justify; text-justify: inter-word"
  >
    Why do people hold conflicting views on redistributive policies? This paper
    shows that beliefs on how people react to incentives under different
    redistributive institutions shape these views. If an agent believes that the
    participants in the economy will react significantly to the lower incentives
    of more redistributive systems, she will prefer less egalitarian policies.
    If she believes otherwise, she might prefer more redistribution. We build a
    simple model that sheds light on the relationship between beliefs and
    choices of redistributive institutions. A dictatorial decision-maker with
    Rawlsian preferences - who wants to maximise the material outcome of the
    worse-off - may optimally choose a less redistributive system when she
    believes that the wealthier individuals will act selfishly. This choice is
    because, in this case, under the weaker economic incentives provided by a
    more redistributive system, even the poorer individuals are worse off
    compared to a capitalist system. If beliefs are overly pessimistic, there
    will be too low redistribution compared to what would emerge under complete
    information about preferences. We conduct an experiment based on our model
    to assess the relevance of incentives considerations and the role of beliefs
    on other agents’ preferences for redistributive systems.
  </div></small
>

<script type="text/javascript">
  function myFunction2() {
    var x = document.getElementById("myDIV2");
    var y = document.getElementById("abstract2");
    if (x.style.display === "none") {
      y.innerHTML = "↓ Abstract";
      x.style.display = "block";
    } else {
      y.innerHTML = "→ Abstract";
      x.style.display = "none";
    }
  }
</script>
