<small>
    <p><em onclick="myFunction()" id="abstract" style="cursor: pointer">→ Abstract</em>
  </p></small>

<small>
  <div id="myDIV" style="display: none; text-align: justify; text-justify: inter-word">
    <p>In revealed preference theory, observed choice is interpreted as revealing tastes over the outcomes of the
      decision. Nevertheless, if a moral principle prescribes an act for reasons unrelated to its consequences, the
      inference drawn regarding preferences is misleading. In this paper, I study the behaviour of deontological
      decision makers who follow the moral principle of universalisation. I develop a decision theory for agents who
      value the impact of their choice in determining a counterfactual outcome they envision. Hence, the choice of
      action reveals a preference for counterfactual outcomes. I propose a unifying model based on my theory, inspired
      by the equal sacrifice principle. It can be specified to obtain the most prominent models of universalisation,
      compare them, highlight and arguably overcome their limitations.</p>
  </div>
</small>

<script type="text/javascript">
  function myFunction() {
    var x = document.getElementById("myDIV");
    var y = document.getElementById("abstract");
    if (x.style.display === "none") {
      y.innerHTML = "↓ Abstract";
      x.style.display = "block";
    } else {
      y.innerHTML = "→ Abstract";
      x.style.display = "none";
    }
  }
</script>