<small
  ><u
    ><p><em onclick="myFunction3()" id="abstract3" style="cursor: pointer"
      >→ Abstract</em
    ></u
  ></p></small
>

<small
  ><div
    id="myDIV3"
    style="display: none; text-align: justify; text-justify: inter-word"
  >
<p>Economic policies not only affect welfare in a society but also freedom. In
    this paper, we propose a formal framework that allows analysing the effects
    of economic policies on individual freedom. We do so by delineating a class
    of ordinal freedom rankings on sets general enough that it can be specified
    to encompass different understandings of freedom in the philosophical
    literature. We show that these rankings have a functional representation by
    the means of a measure defined over classes of sets. The functional
    representation of the ordinal ranking allows the employment of freedom
    rankings in economic analysis. Our representation result relies on a so far
    neglected formal equivalence between qualitative probabilities in decision
    theory and freedom rankings. We exemplify the relevance of a functional
    representation of a freedom measure by drawing on a stylised example of a
    universal basic income policy and its effects on freedom. We show that,
    contrary to what has been argued, a tax scheme subsidising universal basic
    income does not always maximise the real freedom of the worst-off
    in a society.</p>
  </div></small
>

<script type="text/javascript">
  function myFunction3() {
    var x = document.getElementById("myDIV3");
    var y = document.getElementById("abstract3");
    if (x.style.display === "none") {
      y.innerHTML = "↓ Abstract";
      x.style.display = "block";
    } else {
      y.innerHTML = "→ Abstract";
      x.style.display = "none";
    }
  }
</script>
