<small
  ><u
    ><p><em onclick="myFunction5()" id="abstract5" style="cursor: pointer"
      >→ Abstract</em
    ></u
  ></p></small
>

<small
  ><div
    id="myDIV5"
    style="display: none; text-align: justify; text-justify: inter-word"
  >
<p>We show that formalising Chang's chaining argument against the Trichotomy Thesis demonstrates that it is either superfluous or invalid. We develop two formal reconstructions of the argument. In the first, we assume that the set of elements to be ordered has no structure. In this framework, whether the Trichotomy Thesis is true is independent of the validity of the chaining argument. In the second, we put minimal conditions on the set that allow us to state the chaining argument so that it bears its conceptual meaning. In this framework, the argument is invalid, since its premises are inconsistent with each other. Our results illuminate that the existence of `unconventional' value relations cannot be established by endorsing or rejecting the chaining argument. As such, the chaining argument does not provide insights into axiology.</p>
  </div></small
>

<script type="text/javascript">
  function myFunction5() {
    var x = document.getElementById("myDIV5");
    var y = document.getElementById("abstract5");
    if (x.style.display === "none") {
      y.innerHTML = "↓ Abstract";
      x.style.display = "block";
    } else {
      y.innerHTML = "→ Abstract";
      x.style.display = "none";
    }
  }
</script>
